<form>
    <div class="mb-3">
        <label for="userName" class="form-label">UserName</label>
        <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
    </div>
    <div class="mb-3">
        <label for="area" class="form-label">Area</label>
        <input type="text" class="form-control" name="area" [(ngModel)]="area">
    </div>
    <div class="mb-3">
        <label for="cargo" class="form-label">Cargo</label>
        <input type="text" class="form-control" name="cargo" [(ngModel)]="cargo">
    </div>
    <button (click)="addUser()" *ngIf="user.id==0" class="btn btn-primary">
        Añadir
    </button>
    <button (click)="updateUser()" *ngIf="user.id!=0" class="btn btn-primary">
        Editar
    </button>
</form>
